.nameUser {
    position: absolute;
    top: 0px;
    right: 30px;
    border: 4mm ridge rgba(233, 89, 233, 0.596);
    background: rgba(94, 195, 202, 0.952);
   }
.page-header {
    top: 0px;       
    margin-top: -9px;
    margin-left: -8px;
    margin-right: -8px;
    border: 4mm ridge rgba(233, 89, 233, 0.596);
    background: rgba(94, 195, 202, 0.952);
}
